@import "../../../utilities/variables.module.scss";

.toolbar {
  width: 840px;
  text-align: center;
  margin: auto;

  @include all-except-desktop {
    p {
      margin: 0;
    }

    width: 80vw;
  }

  .tools {
    @include desktop-view {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100px;
    }

    @include tablet-view {
      margin: 20px auto 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 50px;
    }

    @include mobile-view {
      width: 80%;
      margin: 20px auto 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 20px;
    }

    img {
      @include standard-transition-time;

      @include all-except-desktop {
        &:hover {
          transform: none;
        }
      }

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}