@import "../../utilities/constants/variables.module.scss";

.container {
  @include desktop-view;
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .header {
    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 840px;

    img {
      border-radius: 50%;
      cursor: pointer;
    }

    .bio {
      padding-left: 20px;
      border-left: 2px solid $blackout;

      p {
        font-size: $subtitle-size;
        margin: 10px 0;
      }

      a {
        margin: 10px 0;
        color: $dark-theme;
        padding: 10px 20px;
        border: 2px solid $dark-theme;
        border-radius: 30px;
        background: transparent;
        cursor: pointer;
        @include standard-transition-time;

        &:hover {
          color: $light-theme;
          background-color: $dark-theme;
        }
      }
    }
  }

  .technical {
    width: 100%;
    height: 200px;   
    overflow-x: auto;
    white-space: nowrap;
    background-color: transparentize($color: #808080, $amount: 0.9);

    &::-webkit-scrollbar {
      display: none;
    }

    .carousel {
      display: flex;
      margin: 0 auto;
      height: 100%;
      @include long-transition-time;

      &:hover {
        will-change: transform; 
        transform: translateX(-100%);
      }
   
      .technology {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
  
        width: 15vw;
  
        svg {
          // width: 80px;
          height: 70px;
        }
      }
    }
  }

  .hobbies {
    text-align: center;
  }
}