@import "../../utilities/constants/variables.module.scss";

.container {
    max-width: $desktop-max-width;
    height: 80px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    @include mobile-view {
        max-width: $mobile-min-width;
        padding: 0 10px;
    }
}

.logo {
    align-items: center;
}

.menu {
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 45px;
        width: 45px;
        border-radius: 9px;
        border: 2px solid $blackout;

        @include standard-transition-time;
        @include cursor-as-pointer;

        &:hover {
            fill: $light-theme;
            background-color: $dark-theme;
        }
    }

    .nav {
        padding: 0;
        margin-top: 5px;
        margin-left: -85px;
        position: absolute;
        border-radius: 9px;
        border: 2px solid $blackout;
        width: 130px;
        backdrop-filter: blur(10px);

        li {
            list-style: none;
            padding: 15px 20px;

            a {
                display: flex;
                gap: 10px;
                justify-content: flex-start;
            }

            &:hover {
                background-color: $balance-color;
                a {
                    color: $light-theme;
                }
            }
        }
    }
}