@import '../../utilities/variables.module.scss';

// TODO: Add breakpoints and make this responsive
.container {
  @include center-a-div;
  margin: auto;
  max-width: $desktop-max-width;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @include mobile-view {
    width: 100%;
  }
}