@import "../../src/utilities/variables.module.scss";

// TODO: Add breakpoints and make this responsive
.hero {
  @include desktop-view;
  @include center-a-div;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bio {
    height: 50%;
    width: 50%;
  }

}
