@import "../../src/utilities/constants/variables.module.scss";

// TODO: Add breakpoints and make this responsive
.hero {
  @include desktop-view;
  @include center-a-div;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bio {
    height: 50%;
    width: 50%;

    .typewriter {
      display: flex;
      gap: 5px;
      margin: 10px 0;
    }

    a {
      color: $dark-theme;
      padding: 10px 25px;
      border: 2px solid $dark-theme;
      border-radius: 30px;
      background: transparent;
      cursor: pointer;
      @include standard-transition-time;

      &:hover  {
        color: $light-theme;
        background-color: $dark-theme;
      }
    }
  }

}
