@import '../../utilities/variables.module.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;

  @include mobile-view {
    margin-bottom: 20px;
  }
}

.header {
  font-size: 25px;
  text-align: center;
  margin: 30px;
}

.showcase {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include all-except-desktop {
    display: flex;
    flex-direction: column;
  }
}