@import "../../utilities/variables.module.scss";

@include all-except-desktop {
    .footerContainer {
        min-width: $mobile-min-width;
        width: 100%;
        flex-direction: column-reverse;

        .media {
            margin-bottom: 10px;

            a:hover {
                transform: none;
            }
        }
    }
}

.footerContainer {
    margin: auto;
    display: flex;
    align-items: center;

    .media {
        display: flex;
        flex-direction: row;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 40px;
            width: 40px;
            border: 1px solid;
            border-radius: 50%;

            @include standard-transition-time;
        }
    }
}